 check process telegraf with pidfile /var/lib/telegraf/telegraf.pid
   start program = "/usr/bin/sudo systemctl start telegraf"
   stop program = "/usr/bin/sudo systemctl stop telegraf"
   if 4 restarts within 20 cycles then timeout
